<!-- 修改 模态框 -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改信息</h4>
        </div>
        <div class="modal-body">
            <form id="rentEditForm" class="form-horizontal">
                <!-- 姓名 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span style="color:#ff0000">*</span>姓名</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="id" value="{$person.id}"/>
                        <input class="form-control" type="text" name="name" value="{$person.name}">
                    </div>
                </div>
                <!-- 部门 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">部门</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="department" type="text" value="{$person.department}">
                    </div>
                </div>
                <!-- 性别 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">性别</label>
                    <div class="col-sm-8 radio">
                        <label>
                            <input type="radio" name="sex" value="1" <if value="$person.sex == 1">checked</if>>男
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>
                            <input type="radio" name="sex" value="2" <if value="$person.sex == 2">checked</if>>女
                        </label>
                    </div>
                </div>
                <!-- 身份证号 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">身份证号</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="identify" value="{$person.identify}" type="text">
                    </div>
                </div>
                <!-- 电话 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">电话</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="tel" type="text" value="{$person.tel}">
                    </div>
                </div>

                <!-- 劳动合同起始日 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">劳动合同起始日</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="contract_s" type="text" value="{$person.contract_s|hd_date}">
                    </div>
                </div>
                <!-- 劳动合同终止日 -->
                <div class="form-group form-inline">
                    <label class="col-sm-3 control-label">新劳动合同终止日</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="格式：2015-4-24" name="contract_e" type="text" <if value="$person.contract_e">value="{$person.contract_e|hd_date}"<elseif value="$person.contract_e == 0"/>value="无固定期"</if>'>
                    </div>
                    <div class="col-sm-4 checkbox">
                        <label class=" ">
                            &nbsp;&nbsp;<input class="for-check" type="checkbox" value="">&nbsp;无固定期
                        </label>
                    </div>
                    <script>
                        var sContractEndValue = $('input[name=contract_e]').attr('value');
                        $(".for-check").click(function() {
                            $(this).attr('checked', !$(this).attr('checked'))
                            if ($(this).attr('checked')) {
                                $(this).parents('#rentEditForm').find('input[name=contract_e]').attr({'value':'无固定期','readonly': true})
                            } else {
                                $(this).parents('#rentEditForm').find('input[name=contract_e]').attr({'value':sContractEndValue,'readonly': false})
                            }
                        });
                    </script>
                </div>
                <!--&lt;!&ndash; 劳动合同终止日 &ndash;&gt;
                <div class="form-group">
                    <label class="col-sm-3 control-label">劳动合同终止日</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="contract_e" type="text" value="{$person.contract_e|hd_date}">
                    </div>
                </div>-->
                <!-- 租赁合同起始日 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">租赁合同起始日</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="rent_s" type="text" value="{$person.rent_s|hd_date}">
                    </div>
                </div>
                <!-- 租赁合同终止日 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">租赁合同终止日</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="rent_e" type="text" value="{$person.rent_e|hd_date}">
                    </div>
                </div>
                <!-- 备注 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注</label>
                    <div class="col-sm-8">
                        <textarea name="remark" class="form-control" rows="3">{$person.remark}</textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            <a href="javascript:;" type="button" id="rentEditConfirm" class="btn btn-primary">确 定</a>
            <script type="text/javascript">
                $('#rentEditConfirm').click(function(){
                    //清空原数据
                    $(this).find('input').val('');
                    $(this).find('textarea').html('');
                    $('#MyModal').modal('hide')
                    hd_ajax("{|U:'Rent/edit'}", $('#rentEditForm').serialize(), function(){
                        // location.reload(true) 会强制刷新页面，导致滚动条归零（firefox）
                        location.reload();
                        return false;
                    });
                })
            </script>
        </div>
    </div>
</div>

<!-- 修改 结束 模态框 -->