<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>备份</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/css/hdjs.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/search.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/operation.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/hdjs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel panel-success">
    <div class="panel-heading">
        数据备份
    </div>
    <div class="panel-body checkbox">
        <form action="{|U:'backup'}" method="post">
            <input type="submit" class="btn btn-success" value='开始备份' />
        </form>
    </div>
</div>
</body>
</html>