<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="__PUBLIC__/css/map.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/map.js"></script>
    <script type="text/javascript" src="__CONTROLLER_VIEW__/js/goTo.js"></script>

</head>
<body>
	<div id="map">
		<div class="map_box">
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>14)}" class="unit unit_3 rent">14</a>
				<a href="javascript:;" _url="{|U:'Dispatch/index', array('b'=>13)}" class="unit unit_4 dispatch">13</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>'12')}" class="unit unit_4 rent">12</a>
				<a href="javascript:;" _url="{|U:'College/index', array('b'=>'11')}" class="unit unit_4 college">11</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>10)}" class="unit unit_4 rent">10</a>
				<a href="javascript:;" _url="{|U:'College/index', array('b'=>'9')}" class="unit unit_4 college">9</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>8)}" class="unit unit_4 rent">8</a>
				<div class="unit unit_3 bd" style="font-size:12px;">综合楼</div>
			</div>
			<div class="centerRoad clear" >中心路</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>6)}" class="unit unit_4 rent">6</a>
				<a href="javascript:;" _url="{|U:'College/index', array('b'=>'7')}" class="unit unit_5 college">7</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>5)}" class="unit unit_4 rent">5</a>
				<a href="javascript:;" _url="{|U:'College/index', array('b'=>'红3')}" class="unit unit_4 college">红3</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>4)}" class="unit unit_3 rent">4</a>
				<a href="javascript:;" _url="{|U:'College/index', array('b'=>'红2')}" class="unit unit_3 college">红2</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>3)}" class="unit unit_3 rent">3</a>
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>红1)}" class="unit unit_2 rent">红1</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>2)}" class="unit unit_4 rent">2</a>
			</div>
			<div class="clear">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>1)}" class="unit unit_2 rent">1</a>
			</div>
			<div class="gao">
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>高4)}" class="gao4 rent_h">高4</a>
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>高3)}" class="gao3 rent_h">高3</a>
				<a href="javascript:;" _url="{|U:'Worker/index', array('b'=>高2)}" class="gao2 worker_h">高2</a>
				<a href="javascript:;" _url="{|U:'Rent/index', array('b'=>高1)}" class="gao1 rent_h">高1</a>
			</div>
			<div class="gate">南门</div>
			<div class="note">
				<i>注：</i>
				<p>
					<span class="college_color"></span>
					大学生区域
				</p>
				
				<p>
					<span class="worker_color"></span>
					职工区域
				</p>					
				<p>
					<span class="dispatch_color"></span>
					派遣工区域
				</p>				
				<p>
					<span class="rent_color"></span>
					租赁区域
				</p>
				<p>
					<span class="kong"></span>
					空
				</p>
			</div>
			<div class="north">北</div>
		</div>
	</div>
</body>
</html>