<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/css/hdjs.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/search.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/hdjs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<div class="panel panel-info">
    <div class="panel-heading">
        修改密码
    </div>
    <div class="panel-body checkbox">
        <form id="editPasswordForm">
            <table class="table">
                <tr>
                    <th width="100">用户名</th>
                    <td width="300">{$hd.session.username}</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="vertical-align: middle">旧密码</th>
                    <td><input type="password" name="oldPassword" class="form-control"/></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="vertical-align: middle">新密码</th>
                    <td><input type="password" name="newPassword" class="form-control"/></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="vertical-align: middle">确认密码</th>
                    <td><input type="password" name="confirmPassword" class="form-control"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="panel-footer">
        <input type="button" class="btn btn-info" id="formSubmit" value="提交"/>
    </div>
</div>
<script>
    $('#formSubmit').click(function(){
        var sNewPassword = $('input[name=newPassword]').val();
        var sConfirmPassword = $('input[name=confirmPassword]').val();
        if (sNewPassword != sConfirmPassword) {
            hd_alert({'message':'错误：两次密码不一致！'});
            return false;
        }
        hd_ajax("{|U:'editPassword'}", $('#editPasswordForm').serialize(), function(){
            return false;
        });
    })
</script>
</body>
</html>